{% extends 'customer/customerbase.html' %}
{% block content %}
<h5>Cart</h5>

<table class="table  ">
    <thead>
    <tr>
        <th scope="col">Sl no.</th>
        <th></th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    {% for i in data %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><img src="{{i.product.document.url}}" alt="..." style="width:16rem; height:12rem; mt-4">
        </td>
        <td>{{i.product.name}}</td>
        <td>{{i.product.price}}</td>
        <td><a href="{% url 'deleteItems' i.id %}" class="btn btn-info">X</a></td>
        <td><a href="{% url 'buynow' i.id %}" class="btn btn-info">Buy Now</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<hr>
<div><p>Total = Rs:{{total}}</p></div>


{% endblock %}





